.contact {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @media (min-width: $tablet-width) {
    gap: 5px;
  }
}
.contact__header {
  margin: 0;
}

.contact__subtitle {
  color: inherit;
  text-decoration: none;
  margin: 0;
}
