.extra-offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 290px;
  gap: 20px;

  @media (min-width: $tablet-width) {
    width: 324px;
    align-items: flex-start;
    min-height: 188px;
    gap: 0;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    min-height: 174px;
  }
}

.extra-offer__header {
  margin: 0;
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    margin: 0 0 10px;
    font-size: 26px;
    line-height: 26px;
  }
}

.extra-offer__subtitle {
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }
}

.extra-offer__link {
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 6px;
  position: relative;
  margin-top: auto;

  &::after {
    content: "";
    height: 1px;
    width: 100%;
    background-color: $background-dark;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
