.faq-accordion__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 23px;

  @media (min-width: $desktop-width) {
    grid-area: accordion;
  }
}

.faq-accordion__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  margin: 0;
  position: relative;
  width: 100%;
  padding: 23px 0 0;

  /* Полоска для всех элементов, кроме первого */
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #74819c;
    top: 0;
    left: 0;
  }

  /* Полоска снизу для последнего элемента */
  &:last-of-type::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #74819c;
    bottom: 0;
    left: 0;
  }
}

.faq-accordion__item:last-of-type {
  padding: 23px 0 23px;
}

.faq-accordion__item div {
  padding: 0;
}

.faq-accordion__item button {
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  padding: 0 52px 0 0;
  margin: 0;
  position: relative;
  width: 100%;

  &::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #1C3374;
    background-image: url(/__spritemap#sprite-plus-icon-view);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: 5px 5px;
    right: 0;
    top: 50%;
    translate: 0 -50%;
  }
}

.faq-accordion__item span {
  white-space: nowrap;
}

.faq-accordion__item div:first-child {
  cursor: pointer;
}

.faq-accordion__item div:nth-child(2) {
  display: none;
}

.faq-accordion__item--show div:nth-child(2) {
  display: block;
}

.faq-accordion__item--show {
  &:last-of-type {
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
  }
}

.faq-accordion button {
  background-color: transparent;
  border: none;
}
