.features-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 0 40px;
  width: 320px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    gap: 14px;
    width: 324px;
  }

  @media (min-width: $desktop-width) {
    gap: unset;
    justify-content: space-between;
    width: 360px;
  }
}

.features-card:nth-child(1) {
  @media (min-width: $desktop-width) {
    order: 1;
  }
}

.features-card:nth-child(3) {
  @media (min-width: $desktop-width) {
    order: 2;
    grid-row: span 2;
  }
}

.features-card:nth-child(2) {
  @media (min-width: $desktop-width) {
    order: 3;
  }
}

.features-card:nth-child(4) {
  @media (min-width: $desktop-width) {
    order: 4;
  }
}

.features-card:nth-child(5) {
  @media (min-width: $desktop-width) {
    order: 5;
  }
}

.features-card__statistics {
  background: linear-gradient(127.61deg, #d10a42 0, #0041ca 45.58%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 64px;
  line-height: 64px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 70px;
    line-height: 70px;
    align-items: flex-start;
  }
}

.features-card__statistics-subtitle {
  margin: 0;
  background: none;
  color: #2e35ac;
  -webkit-text-fill-color: #2e35ac;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    line-height: 22px;
  }
}

.features-card__info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  @media (min-width: $tablet-width) {
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    gap: 8px;
    width: 213px;
  }
}

.features-card__header {
  margin: 0;
  font-size: 18px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 22px;
    line-height: 22px;
  }
}

.features-card__subtitle {
  text-align: center;
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }
}

.features-card--accent {
  background-color: $background-dark;
  width: 100%;
  margin: 4px 0;

  @media (min-width: $tablet-width) {
    background-color: transparent;
    width: 678px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 360px;
  }
}

.features-card__wrapper {
  width: 320px;
  padding: 30px 75px 41px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    padding: 35px;
    gap: 25px;
    width: 320px;
    background-color: $background-dark;
  }

  @media (min-width: $desktop-width) {
    padding: 58px 40px;
    gap: 30px;
    width: 360px;
  }
}

.features-card--accent .features-card__statistics {
  color: $accent-text-color;
  background: none;
  -webkit-text-fill-color: $accent-text-color;
  display: flex;
  flex-direction: column;
  gap: 5px;

  @media (min-width: $tablet-width) {
    gap: 25px;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    gap: 10px;
  }
}


.features-card--accent .features-card__statistics-subtitle {
  color: $accent-text-color;
  background: none;
  -webkit-text-fill-color: $accent-text-color;
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 26px;
    line-height: 26px;
  }
}

.features-card--accent .features-card__subtitle {
  color: $accent-text-color;
  background: none;
  -webkit-text-fill-color: $accent-text-color;
  text-align: center;
}

.features-card--accent .features-card__header {
  color: $accent-text-color;
  background: none;
  -webkit-text-fill-color: $accent-text-color;
  margin-bottom: 5px;
}
