.hero__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 51px 15px 32px;

  @media (min-width: $tablet-width) {
    padding: 0 45px 99px;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 175px 120px;
  }
}


.hero__info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 47px 21px;
  align-items: flex-end;

  @media (min-width: $tablet-width) {
    gap: 48px 26px;
    padding: 33px 30px 31px 0;
  }

  @media (min-width: $desktop-width) {
    gap: 40px 0;
    padding: 52px 56px 52px 0;
    justify-content: flex-end;
    align-items: flex-start;
  }
}

.hero__main-info {
  max-width: 156px;

  @media (min-width: $tablet-width) {
    max-width: 185px;
  }

  @media (min-width: $desktop-width) {
    gap: 48px 21px;
    max-width: 270px;
  }
}

.hero__image {
  @media (max-width: $mobile-width-only) {
    display: none;
  }
}

.hero__zones {
  display: flex;
  align-items: flex-end;
  line-height: 20px;
  color: $accent-text-color;
  text-align: right;

  @media (min-width: $tablet-width) {
    line-height: 22px;
    align-items: center;
    padding-bottom: 26px;
  }

  @media (min-width: $desktop-width) {
    line-height: 22px;
    align-items: center;
    padding-bottom: 70px;
    margin-top: auto;
  }
}

.hero__order-button {
  width: 100%;
  min-height: 56px;
  background-color: transparent;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: $accent-text-color;
  border: 2px solid;
  border-color: $shadow-light;
  text-align: center;
  padding: 22px 10px;

  @media (min-width: $tablet-width) {
    width: 185px;
    margin-left: auto;
    padding: 20px 10px;
  }

  @media (min-width: $desktop-width) {
    width: 270px;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0;
    margin-left: 0;
    padding: 25px 10px;
  }
}
