.juri-card__figure {
  margin: 0;
  position: relative;
}

.juri-card__image-caption {
  margin: 0;
  position: absolute;
  bottom: 24px;
  left: 50%;
  translate: -50%;
  font-size: 22px;
  line-height: 22px;
  color: $accent-text-color;
}
