.main__prices {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__competitions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__juri {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__features {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__offers{
  width: 100%;
}

