.main__prices {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.main__competitions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__juri {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__features {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__offers{
  width: 100%;
}

.main__contacts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__reviews {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__faq {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
