.membership-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
  background-color: $background-color;
  padding: 50px 42px;

  @media (min-width: $tablet-width) {
    padding: 65px;
    gap: 22px;
    width: 380px;
    padding: 65px;
    z-index: 100;
  }

  @media (min-width: $desktop-width) {
    width: 360px;
    gap: 17px;

  }
}

.membership-card__title {
  margin: 0;
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 26px;
    line-height: 26px;
  }
}

.membership-card__subtitle {
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.membership-card__price {
  padding: 49px 71px 0 37px;
  margin: 0;
  color:#103AAE;
  font-size: 48px;
  line-height: 150%;
  font-weight: 700;
  position: relative;
  z-index: 1;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding: 60px 71px 0 41px;
    font-size: 60px;
    line-height: 90px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 80px 0 32px;
    font-size: 60px;
    line-height: 90px;
  }
}

.membership-card__price::before {
  content: "";
  background-image: url(/__spritemap#sprite-rubble-sign-view);
  background-repeat: no-repeat;
  fill: #102654;
  position: absolute;
  bottom: 19px;
  right: 37px;
  width: 24px;
  height: 33px;

  @media (min-width: $tablet-width) {
    width: 30px;
    height: 42px;
    right: 40px;
    bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    width: 30px;
    height: 42px;
    right: 33px;
    bottom: 24px;
  }
}

.membership-card__price::after {
  content: attr(data-text);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 23px;
  font-size: 80px;
  line-height: 120px;
  font-weight: 700;
  opacity: 48%;
  color: #E8E8E8;
  pointer-events: none;

  @media (min-width: $tablet-width) {
    font-size: 100px;
    line-height: 150px;
  }
}

.membership-card__button {
  width: 100%;
  min-height: 67px;
  background-color: transparent;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: $main-text-color;
  border: 2px solid;
  border-color: $shadow-dark;
  text-align: center;
  padding: 22px 10px;
}
