.navigation__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;

  @media (min-width: $tablet-width) {
    padding: 30px 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 103px;
    align-items: flex-start;
  }
}

.navigation__contacts-link {
  @media (min-width: $desktop-width) {
    margin-top: 2px;
  }
}

.navigation__logo-image {
  @media (min-width: $desktop-width) {
    width: 130px;
    height: 26px;
  }
}


