.offers {
  width: 100%;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.offers__wrapper {
  width: 100%;
  padding: 39px 0 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 60px 45px;
    gap: 37px;
  }

  @media (min-width: $desktop-width) {
    width: 1366px;
    padding: 100px 103px;
    gap: 70px;
  }
}

.offers__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 0 45px;
    gap: 35px;
  }

  @media (min-width: $desktop-width) {
    width: 1366px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 103px;
    gap: 40px;
  }
}

.offers__header {
  font-family: $accent-font;
  font-weight: 600;
  margin: 0;
  font-size: 32px;
  line-height: 32px;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 42px;
  }

  @media (min-width: $desktop-width) {
    font-size: 54px;
    line-height: 54px;
  }
}
