.prices {
  background-color: $background-extra;
}

.prices__wrapper {
  padding: 41px 15px 39px;
  width: 320px;

  @media (min-width: $tablet-width) {
    width: 380px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 103px;
    width: 1160px;
  }
}

.prices__tabs {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
