/* здесь используйте глобальные переменные */
$background-color: #ffffff;
$main-text-color: #102654;
$accent-text-color: #FFFFFF;
$dark-accent-text-color: #103AAE;
$gradient-text-color: linear-gradient(#D10A42, #0041CA);


//viewports
$tablet-width: 768px;
$desktop-width: 1366px;
$mobile-width-only: 767px;
$min-width: 320px;
